body {
    background: #000;
}

#comment-list .card {
    background: #333;
    color: #fff;
    border-color: #888;
}

#comment-list .card .alert {
    background: #666;
}

#comment-list .user-name img {
    width: 30px;
}

#comment-list .video-title {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 85%;
    white-space: nowrap;
    font-size: 4vw;
}

#comment-list .user-name {
    font-size: 4vw;
}

#comment-list .user-comment {
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 4vw;
}

h1 {
    color: #fff;
}